@use "../style/variables.scss" as *;
.proDetails {
  margin-bottom: 20px;
  border: 2px solid white;
  border-radius: 0 0 5px 5px;
  width: 100%;
  &__top-link {
    border: 2px solid white;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    margin-top: 90px;
    a {
      display: flex;
      align-items: center;
      padding: 12px 20px;
      width: 100%;
      font-size: 25px;
      background-color: black;
      &:hover .proDetails__top-link__icon {
        transform: translateX(-17px);
      }
    }
    &__icon {
      transition: all 0.3s ease-in-out;
    }
  }
  &__img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
  }
  &__content {
    padding: 10px 20px;
    h2 {
      margin-bottom: 15px;
    }
    ul {
      margin-bottom: 15px;
    }
    p {
      background-color: #0b0d12;
      margin-bottom: 35px;
      max-width: 900px;
    }
  }
  &__gallery {
    padding: 10px 20px;
    column-count: 3;
    gap: 20px;
    li {
      display: flex;
      justify-content: center;
      overflow: hidden;
      margin: 0 0 20px;
    }
    img {
      transition: transform 0.25s ease-in-out;
      width: 100%;
    }
    img:hover {
      transform: scale(1.025);
    }
  }
  &__design {
    width: 115px;
    padding: 4px 18px;
    border-radius: 5px;
    border: 1px solid white;
    margin: 5px 0;
    margin-top: 10px;
    display: block;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

@media (max-width: 1024px) {
  .proDetails__gallery {
    column-count: 2;
  }
}
@media (max-width: 678px) {
  .proDetails__gallery {
    column-count: 1;
  }
}
