@use "./variables" as *;

// ----- Hero -----
.hero {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__text {
  color: white;
  max-width: 600px;
  text-align: center;
  margin: auto;
  background-color: rgba(245, 245, 245, 0.176);
  h1 {
    text-transform: uppercase;
    font-size: 64px;
    font-family: $hero-font;
  }
  p {
    font-size: 32px;
    font-weight: 600;
  }
}
