@use "./variables" as *;
@use "./components.scss";
// ----- Resets -----
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  background-color: none;
  border: none;
}

// ----- Page Slider -----
.slider {
  display: flex;
  flex-direction: row;
  width: 100vw;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  &__page {
    min-width: 100vw;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
  }
}

.strong-text {
  color: $royal-purple;
}
// ----- Top Buttons (Home&Language) -----
.button.top {
  background: black;
  padding: 0;
  position: fixed;
  top: 20px;
  width: 50px;
  height: 50px;
}
.button.top.left {
  left: 20px;
}
.button.top.right {
  right: 20px;
}
@media (max-width: 678px) {
  .button.top {
    top: 82%;
  }

  .button.top.left {
    left: auto;
    right: 2px;
  }
  .button.top.right {
    right: 2px;
  }
  .button.top.right {
    top: 91%;
  }
}
