@use "./variables" as *;
@use "./components.scss";
// ----- Resets -----
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  background-color: none;
  border: none;
}
h2 {
  font-size: 48px;
  margin-bottom: 30px;
}
// Special
.strong-text {
  color: $royal-purple;
}
p,
h2 {
  background-color: black;
}
// ----- Page Wrapper -----
.pages-wrapper {
  padding: 0 20px;
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

// ----- Top Buttons (Home&Language) -----
.button.top {
  position: fixed;
  top: 20px;
  background: #222;
  padding: 0;
  width: 45px;
  height: 45px;
}
.button.top.left {
  left: 20px;
}
.button.top.right {
  right: 20px;
}
@media (max-width: 678px) {
  .button.top.left,
  .button.top.right {
    border-radius: 100%;
    left: auto;
    right: 1px;
  }
  .button.top.left {
    top: 82%;
  }
  .button.top.right {
    top: 90%;
  }
}
