// ----- Fonts -----
@font-face {
  font-family: "heroFont";
  src: url("../assets/fonts/star-font/starjedi/Starjedi.ttf");
}
$hero-font: "heroFont";

// ----- Colors -----
$glass-color: rgba(0, 0, 0, 0.85);
$glass-color-hover: linear-gradient(
  135deg,
  rgba(81, 78, 253, 0.85),
  rgba(155, 105, 255, 0.85)
);
//
$royal-purple: #7768fd;
//
$button-purple: linear-gradient(
  135deg,
  rgba(109, 93, 246, 0.85),
  rgba(138, 123, 255, 0.85)
);
$button-purple-hover: linear-gradient(
  135deg,
  rgba(124, 109, 255, 0.95),
  rgba(155, 140, 255, 0.95)
);
//
$dark-glass-purple: linear-gradient(
  135deg,
  rgba(50, 40, 90, 0.6),
  rgba(35, 30, 70, 0.15)
);
// Border
$border: 2px solid rgba(255, 255, 255, 0.2);
$border-purple: 2px solid rgba(155, 140, 255, 0.95);
