// ----- Fonts -----
@font-face {
  font-family: "heroFont";
  src: url("../assets/fonts/star-font/starjedi/Starjedi.ttf");
}
$hero-font: "heroFont";

// ----- Colors -----
$glass-color: linear-gradient(
  135deg,
  rgba(255, 255, 255, 0.1),
  rgba(255, 255, 255, 0.05)
);
$glass-color-hover: linear-gradient(
  135deg,
  rgba(255, 255, 255, 0.2),
  rgba(255, 255, 255, 0.1)
);
$royal-purple: #6d5df6;
$button-purple: linear-gradient(
  135deg,
  rgba(109, 93, 246, 0.85),
  rgba(138, 123, 255, 0.85)
);
$button-purple-hover: linear-gradient(
  135deg,
  rgba(124, 109, 255, 0.95),
  rgba(155, 140, 255, 0.95)
);
$glass-purple: linear-gradient(
  135deg,
  rgba(109, 93, 246, 0.18),
  rgba(138, 123, 255, 0.12)
);
