@use "../style/components.scss" as *;

.about {
  margin: 30px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 20px;
  max-width: 1440px;
  width: 100%;
  display: flex;
  gap: 50px;
  h2 {
    font-size: 48px;
    margin-bottom: 50px;
  }
  &__content {
    max-width: 600px;
  }
}
