@use "../style/variables.scss" as *;

.hero {
  margin: 0 30px;
  padding-bottom: 30px;
  max-width: 600px;
  text-align: center;
  h1 {
    color: #fce700;
    margin-bottom: 20px;
    font-size: 85px;
    font-weight: 500;
    font-family: $hero-font, "sans-serif";
    line-height: 1.1;
  }
  p {
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: 700;
  }
  &__content__skills {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    img {
      width: 50px;
      height: 50px;
      transition: transform 0.3s ease-out;
    }
    img:hover {
      transform: scale(1.1);
    }
  }
  &__content__nav {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
// Resposive
@media (max-width: 678px) {
  .hero {
    h1 {
      font-size: 52px;
    }
    p {
      font-size: 18px;
      margin-bottom: 20px;
    }
    &__content__skills {
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
